@model IEnumerable<Hotel_Management_System.Models.Food>


@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suggestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suggestion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>@* 
                    <a asp-action="Edit" asp-route-id="@item.Suggestion">Suggest</a> | *@
                     <a asp-action="Edit" asp-route-id="@item.Fid">Suggest</a>
                
                    <a asp-action="Request" asp-route-id="@item.Fid">Request</a>
                </td>
            </tr>
        }
    </tbody>
</table>
