@model IEnumerable<Hotel_Management_System.Models.Hotel>


@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>


               
            </tr>
        }
    </tbody>
</table>

