@model IEnumerable<Hotel_Management_System.Models.Payment>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uid)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IFSC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uid)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IFSC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UPI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>


               @*  <td>



                    <a asp-action="Edit" asp-route-id="@item.Hid" class="nav-link text-danger">Edit</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>

